#root {
  max-width: 1900px;
  margin: 0 auto;
  padding: 1rem;
}

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid gray;
  border: 3px solid white;
  width: 16px;
  height: 16px;
}

input[type='radio']:checked {
  background: rgb(59 130 246);
  outline: 2px solid rgb(59 130 246);

}

